<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <menuitem id='menu_hospital_main'
            name= 'Hospital'
            web_icon="om_hospital,static/description/icon.png"
            sequence = '0'/>
                
        <menuitem id='menu_patient_master'
                name='Patient Details'
                parent='menu_hospital_main'
                sequence='0'/>

        <menuitem id='menu_appointment_master'
                name='Appointments'
                action='action_hospital_appointment'
                parent='menu_hospital_main'
                sequence='20'/>

         <menuitem id='menu_configuration'
                name='Configuration'
                parent='menu_hospital_main'
                sequence='100'/>

        
       
</odoo>